*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    margin-left: 10px;
    text-align: center;
}

.orderContent{
    margin-left: 10px;
    width: 50vw;
    height: 100vh;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.customer {
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
   border: 1px solid black;
   border-radius: 20px;
   text-align: center;
}


